
 .mob-header {
    display: none;
}
.logo-space {
    margin-right: 240px;
}

.header-visible .header-content {
    padding: 10px 55px !important;
    background-color: #fff;
}


@media(min-width: 2000px){
    .header-visible .header-content {
        padding: 10px 100px !important;
    }
  }

@media(max-width: 1200px){
    .header-visible .header-content {
        padding: 10px 0px !important;
    }
   .spec-desktop-header {
       display: none;
   }

   .mob-header {
       display: flex;
   }
  }