.footer-copper-container {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;

  
}

.footer-copper-container {
  margin-top: 35px !important;
  width: 385px !important;
  height: 277px;
  background-image: url("/assets/red-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 21px 17px 16px;
  position: relative;
  box-shadow: 0px 2px 5px #ff9686;
  .launch-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #ffffff;
    font-family: "neuenormal";
  }
  #countdown #tiles > span {
    color: #ffe600 !important;
    background: rgba(255, 124, 96, 0.4) !important;
    border-radius: 8px !important;
  }
  .countdown-list-item {
    width: 84px;
    color: #fff;
  }
  .button-wrapper {
    display: flex;
    position: relative;
    a {
      background: #ffffff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 6px;
      width: 169px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      font-feature-settings: "ss01" on, "salt" on;
      color: #e3360c;
      font-family: "euclidnormal";
      &:hover{
        opacity: 0.8;
      }
      img {
        margin-left: 20px;
        width: 21px;
      }
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      max-width: 100px;
      margin-left: 15px;
    }
  }
  .tesla {
    position: absolute;
    bottom: -42px;
    right: -50px;
    .tesla-img {
        transform: scale(1.1) !important;
    }
    p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        max-width: 150px;
        margin-left: 15px;
        font-family: "euclidnormal";
    }
  }
}

.footer-copper-container {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 90% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 16px 16px 0 0;
  padding: 0;

  .launch-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #ffffff;
    font-family: "neuenormal";
    margin-right: 25px;
    margin-left: 15px;
  }
  .copper-wrapper {
    margin-left: -191px !important;
  }
  .launch-text {
    font-size: 24px;
    margin-right: 25px;
    margin-left: 15px;
  }
  #countdown #tiles > span {
    width: 53px;
    line-height: 52px;
    height: 52px;
    font-size: 23px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .contdown-cover .inline-list {
    width: 260px;
  }
  .countdown-list-item {
    width: 51px;
    color: #fff;
    font-family: "euclidnormal";
  }
  .tesla .tesla-img {
    position: absolute;
    top: -100px;
    right: 20px;
  }
  .tesla {
    position: absolute;
    bottom: 28px;
    right: 60px;
  }
  .launch-text {
    font-size: 24px;
    margin-right: 25px;
    margin-left: 75px;
  }
}

@media(min-width: 1600px){
    .footer-copper-container{
    width: 1440px !important;
}

}
@media(max-width: 1366px)
{
  .footer-copper-container .copper-wrapper {
    margin-left: 20px !important;
}
.footer-copper-container {
  justify-content: flex-start;
  
}
.footer-copper-container .launch-text {
  font-size: 24px;
  margin-right: 15px;
  margin-left: 15px;
}
.footer-copper-container .tesla .tesla-img {
  right: -20px;
}
.footer-copper-container #countdown #tiles > span {
  margin-top: 33px;
  
}
.footer-copper-container .button-wrapper {
  transform: scale(0.8);
  margin-left: -20px;
}
.footer-copper-container .tesla {
  position: absolute;
  bottom: 28px;
  right: 40px;
}
}

@media(max-width:1200px)
{
  .footer-copper-container .launch-text {
    font-size: 19px;
    margin-right: 15px;
    margin-left: 15px;
    max-width: 149px;
}
.footer-live-auction #countdown {
    margin-top: 20px !important;
    top: -3px !important;
}
.dao-hero-proposals {
    margin-left: 0;
}
.prop-icon-list {
   margin: 0 auto;
}
.carousel-hero .players-winning .players-winning-text
{
    font-size: 18px;
}
.eco-bottom-hero p {
    font-size: 20px;
}
.footer-copper-container .launch-text {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
    max-width: 129px;
}
.footer-live-auction #countdown {
    margin-left: 4px;
    width: 50%;
}
.live-wrapper {
    width: 35%;
    margin-left: 42px;
}
.live-footer-copper-container .launch-text {
    margin-right: -30px !important;
}
}

@media(max-width:1024px)
{
  .footer-copper-container .tesla {
   right: 17px;
    transform: scale(0.9);
}
.footer-live-auction #countdown {
    margin-top: 50px;
  }
}

@media(max-width: 991px)
{
  .footer-copper-container .launch-text {
    font-size: 19px;
    margin-right: 0;
    margin-left: 0;
    max-width: 129px;
}
.footer-copper-container .tesla p {
  margin-top: -70px;
}
.footer-copper-container .tesla .tesla-img {
 top: -168px;
  
}
.footer-copper-container .button-wrapper {
  margin-top: 43px;
}
.footer-copper-container .tesla {
  bottom: 9px;
  
}
.live-footer-copper-container .live-wrapper {
    width: 42%;
    margin-left: 42px;
}
.footer-live-auction .live-wrapper p {
    font-size: 14px !important;
}
.footer-live-auction #countdown {
    margin-left: 5px !important;
}
}

.footer-live-auction #countdown {
    width: 60%;
    margin-top: 13px;
    padding-top: 0;
    margin-left: 24px;
}
.footer-live-auction #tiles {
  display: flex;
  align-items: center;
}

.footer-live-auction {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 380px;
}
.footer-live-auction span.days-box {
    margin-top: 0;
}
.footer-live-auction #tiles p {
    font-family: "euclidnormal";
    color: #fff;
    max-width: 50px;
}
.footer-live-auction .days, .footer-live-auction .hours {
    bottom: -35px;
    left: -20px;
}
.footer-live-auction .hours-box,
.footer-live-auction .days-box 
{
    margin-top: 0 !important;
    height: 48px !important;
    line-height: 48px !important;
    width: 48px !important;
    font-size: 20px !important;
}
.footer-live-auction .live-wrapper p {
    font-size: 17px;
}
.footer-live-auction .live-logo {
    width: 46px;
    height: 40px;
}
@media(max-width: 767px)
{
.footer-copper-container .contdown-cover {
    position: absolute;
    top: -90px;
    background:url("/assets/red-background.png");
    background-repeat: no-repeat;
    padding-left: 9px;
    border-radius: 15px;
}
.footer-copper-container .button-wrapper a img {
    margin-left: 7px;
    width: 21px;
}
.live-footer-copper-container .contdown-cover {
    top: -67px;
}
.live-wrapper {
    width: 38%;
    margin-left: 0;
}
.live-footer-copper-container .launch-text {
    margin-right: -10px !important;
}
.footer-copper-container .tesla {
    right: -23px;
    transform: scale(0.7);
}
.footer-copper-container .tesla {
    bottom: 21px;
}
}


@media(max-width: 480px){
    .footer-copper-container .contdown-cover {
    padding-left: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  .footer-copper-container #countdown #tiles {
    width: 260px;
}
.footer-copper-container .contdown-cover .inline-list {
  width: 260px;
  margin-left: -15px;
}
.footer-live-auction .tesla .tesla-img {
  right: -34px;
  top: -168px;
  transform: scale(0.9) !important;
}
.footer-live-auction .launch-text {
  font-size: 15px;
  max-width: 105px;
}
.footer-copper-container {
  width: 95% !important;
}
.footer-live-auction #countdown {
    margin-left: -23px !important;
}
.footer-live-auction .live-wrapper {
    width: 31%;
    margin-left: 10px;
}
.footer-copper-container .launch-text {
    font-size: 14px;
    max-width: 94px;
}
.footer-copper-container .tesla {
    right: 6px;
    transform: scale(0.8);
    bottom: 16px !important;
}
.live-footer-copper-container .footer-live-auction .live-wrapper p {
    font-size: 14px !important;
    max-width: 46px !important;
}

.footer-live-auction #countdown {
    margin-left: -10px !important;
}
.footer-copper-container .tesla {
    right: -22px;
    transform: scale(0.6);
    bottom: 25px !important;
}

.live-footer-copper-container .copper-wrapper {
    margin-left: 10px !important;
    width: 38%;
}
.live-footer-copper-container #countdown {
    margin-left: -20px !important;
}
.live-footer-copper-container .footer-live-auction .live-wrapper {
    width: 23%;
    margin-left: 10px;
    padding: 5px;
    margin-right: 11px;
}


}

@media(max-width: 374px)
{

    .footer-copper-container .tesla {
        right: 36px;
        transform: scale(1);
        bottom: 7px !important;
    }
.footer-copper-container #countdown {
    transform: scale(0.8);
    margin-left: -15px;
  }

.footer-copper-container .tesla p {
  font-size: 13px;
  
}

.live-footer-copper-container.tesla .tesla-img {
    right: -65px;
    top: -137px;
    transform: scale(0.6) !important;
}
.footer-copper-container .tesla {
    right: -9px;
    transform: scale(0.6);
    bottom: 8px !important;
}
.live-footer-copper-container .button-wrapper {
    transform: scale(0.6);
    margin-left: -30px;
    margin-top: 56px !important;
}
.live-footer-copper-container #countdown {
    margin-left: -33px !important;
}
.live-footer-copper-container .tesla .tesla-img {
    top: -156px;
}
}

@media(max-width: 360px)
{
    .footer-copper-container.current-countdown .tesla {
        transform: scale(0.7);
        bottom: 33px !important;
    }
}