.footer-copper-container {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 90% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
}

.footer-copper-container {
  margin-top: 35px !important;
  width: 385px !important;
  height: 277px;
  background-image: url("/assets/red-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 21px 17px 16px;
  position: relative;
  box-shadow: 0px 2px 5px #ff9686;
  .launch-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #ffffff;
    font-family: "neuenormal";
  }
  #countdown #tiles > span {
    color: #ffe600 !important;
    background: rgba(255, 124, 96, 0.4) !important;
    border-radius: 8px !important;
  }
  .countdown-list-item {
    width: 84px;
    color: #fff;
  }
  .button-wrapper {
    display: flex;
    position: relative;
    a {
      background: #ffffff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 6px;
      width: 169px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      font-feature-settings: "ss01" on, "salt" on;
      color: #e3360c;
      font-family: "euclidnormal";
      &:hover{
        opacity: 0.8;
      }
      img {
        margin-left: 20px;
        width: 21px;
      }
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      max-width: 100px;
      margin-left: 15px;
    }
  }
  .tesla {
    position: absolute;
    bottom: -42px;
    right: -50px;
    .tesla-img {
        transform: scale(1.1) !important;
    }
    p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        max-width: 150px;
        margin-left: 15px;
        font-family: "euclidnormal";
    }
  }
}

.footer-copper-container {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 90% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 16px 16px 0 0;
  padding: 0;

  .launch-text {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #ffffff;
    font-family: "neuenormal";
    margin-right: 25px;
    margin-left: 15px;
  }
  .copper-wrapper {
    margin-left: -191px !important;
  }
  .launch-text {
    font-size: 24px;
    margin-right: 25px;
    margin-left: 15px;
  }
  #countdown #tiles > span {
    width: 53px;
    line-height: 52px;
    height: 52px;
    font-size: 23px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .contdown-cover .inline-list {
    width: 260px;
  }
  .countdown-list-item {
    width: 51px;
    color: #fff;
    font-family: "euclidnormal";
  }
  .tesla .tesla-img {
    position: absolute;
    top: -100px;
    right: 20px;
  }
  .tesla {
    position: absolute;
    bottom: 28px;
    right: 60px;
  }
  .launch-text {
    font-size: 24px;
    margin-right: 25px;
    margin-left: 75px;
  }
}



@media(max-width: 1366px)
{
  .footer-copper-container .copper-wrapper {
    margin-left: 20px !important;
}
.footer-copper-container {
  justify-content: flex-start;
  
}
.footer-copper-container .launch-text {
  font-size: 24px;
  margin-right: 15px;
  margin-left: 15px;
}
.footer-copper-container .tesla .tesla-img {
  right: -20px;
}
.footer-copper-container #countdown #tiles > span {
  margin-top: 33px;
  
}
.footer-copper-container .button-wrapper {
  transform: scale(0.8);
  margin-left: -20px;
}
.footer-copper-container .tesla {
  position: absolute;
  bottom: 28px;
  right: 40px;
}
}

@media(max-width:1200px)
{
  .footer-copper-container .launch-text {
    font-size: 19px;
    margin-right: 15px;
    margin-left: 15px;
    max-width: 149px;
}
}

@media(max-width:1024px)
{
  .footer-copper-container .tesla {
   right: 17px;
    transform: scale(0.9);
}
}

@media(max-width: 991px)
{
  .footer-copper-container .launch-text {
    font-size: 19px;
    margin-right: 0;
    margin-left: 0;
    max-width: 129px;
}
.footer-copper-container .tesla p {
  margin-top: -70px;
}
.footer-copper-container .tesla .tesla-img {
 top: -168px;
  
}
.footer-copper-container .button-wrapper {
  margin-top: 43px;
}
.footer-copper-container .tesla {
  bottom: 9px;
  
}
}

@media(max-width: 767px)
{
  .contdown-cover {
    position: absolute;
    top: -90px;
    background:url("/assets/red-background.png");
    padding-left: 9px;
    border-radius: 15px;
}
.footer-copper-container .button-wrapper a img {
  margin-left: 7px;
  width: 21px;
}
}


@media(max-width: 480px){
  .contdown-cover {
    padding-left: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  #countdown #tiles {
    width: 260px;
    
}
.footer-copper-container .contdown-cover .inline-list {
  width: 260px;
  margin-left: -15px;
}
.footer-copper-container .tesla .tesla-img {
  right: -34px;
  top: -168px;
  transform: scale(0.9) !important;
}
.footer-copper-container .launch-text {
  font-size: 15px;
  max-width: 105px;
}
.footer-copper-container {
  width: 95% !important;
}

}

@media(max-width: 374px)
{
  #countdown {
    transform: scale(0.8);
    margin-left: -15px;
  }
  .footer-copper-container .tesla .tesla-img {
    right: -44px;
    top: -153px;
    transform: scale(0.9) !important;
}
.footer-copper-container .tesla p {
  font-size: 13px;
  
}
}