.heroSpec {
  .specials {
    top: -44vh;
    display: flex;
    align-items: center;
  }
  .redObj {
    width: 100%;
    position: relative;
    z-index: 1000;
    height: 100% !important;
    top: -60px !important;
  }
  .imgObj {
    position: absolute;
    width: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
    }

    .animation,
    .animation2 {
      // width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .sticky,
  .sticky2 {
    height: 100vh;
    width: 50%;
    position: relative;
    z-index: 1000;
    // background: #ff000052;
    .animation,
    .animation2 {
      // width: 100%;
      height: 100%;
      position: absolute;

      .home-content {
        position: absolute;
      }
      img {
        position: relative;
      }
    }
  }
}

.spec-head-cover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.spec-home-background {
  display: flex;
  width: 100%;
  // align-items: center;
  margin-top: -80px;
  justify-content: center;

}

.spec-home-background::after {
  content: "";
  width: 100%;
  height: 125vh;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transform: skew(0deg, -6deg);
  background-image: url("/assets/animation/rectangle28.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -9;
}

.image-wrapper {
  height: 100vh;
  // margin-top: 80px;
  padding-top: 80px;
}

.spec-home-background .header-middle-section .content {
  margin-top: -265px;
}

@media (max-width: 1440px) {
  .spec-home-background {
    height: 147vh;
  }

  .spec-home-background::after {
    height: 140vh;
  }
  .spec-home-background .header-middle-section .content {
    margin-top: -228px;
  }
}

@media (min-width: 1450px) {
  .spec-home-background {
    height: 132vh;
  }
  .spec-home-background::after {
    height: 133vh;
  }
  .water-mark {
    padding-left: 223px;
    margin-top: 18px;
    background-color: transparent; 
}
}

@media (min-width: 2001px) {

}
.mob-hero {
  display: none;
}

@media (max-width: 1200px) {
  .desktop-hero {
    display: none;
  }
  .mob-hero {
    display: flex;
    flex-direction: column;
  }
  .hero-wrapper::after {
    content: "";
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skew(0deg, -6deg);
    background-image: url("/assets/animation/rectangle28.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -9;
  }
  .image-wrapper {
    height: 100%;
    padding-top: 0px;
  }
  .image-wrapper img.mobile-image {
    display: flex;
  }
}

.hero-section {
  position: relative !important;
}