

.market-container {
    
.sticky {
    width: 100%;
    position: relative;
    z-index: 1000;

     .animation, .animation2 {
      width: 100%;
      height: 100%;
      position: absolute;

      .home-content {
        position: absolute;
      }
      img {
          position: relative;
      }

    }
  }

}

@media(max-width: 1200px){
  .dwn-img {
    display: none;
    position: absolute;
  }

  .chart-content {
    margin-bottom: 0px;
  }
}

